KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_PREFIX=events
REDIS_HOST=localhost
REDIS_PORT=6379
API_URL=http://localhost:8000/event

S3_ARCHIVE_BUCKET=
AWS_REGION=us-east-1
DYNAMODB_SNAPSHOTS_TABLE=analytics-snapshots
